.about {
    font-family: 'Marcellus SC', serif;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    display: block;
    transition: opacity ease-in 0.3s;
    box-sizing: border-box;
    background-image:
        url(../assets/Images/old_paper_texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.about-header {
    background-image:
        url(../assets/Images/the_azure_archive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 50vh;
    border-bottom: 3px black;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .5);
    z-index: 3;
    display: flex;
    align-items: center;
}

.about-header h1 {
    font-size: 7rem;
    text-align: center;
    text-shadow: 0 1px 30px 0 rgba(0, 0, 0, .5);
}

.section {
    display: flex;
}

.section-header {
    position: relative;
    width: 50%;
    background: radial-gradient(circle,
            #586c80 0%,
            rgb(6, 28, 49) 100%);
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    z-index: 2;
}

.section-header h1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 1px 30px 0 rgba(0, 0, 0, .5);
}

.section-header.wide{
    height: 10vh;
    width: 100%;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    z-index: 1;
}
.section-header.wide h1{
    text-align: center;
    padding: 0;
}

.history-box {
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    width: 50%;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .5);
    z-index: 1;
}
.history-box.wide{
    width: 100%;
    box-shadow: none;
}

.history-box h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400 !important;
    font-size: 30px;
    text-align: center;
    letter-spacing: .010em;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    transition: .5s;
    padding-top: 2%;
}

.faq-box {
    padding-top: 5%;
    padding-bottom: 5%;
}

.about h2 {
    background: linear-gradient(90deg,
            rgb(225, 185, 152) 75%,
            rgba(0, 2, 4, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .010em;
    font-size: 25px;
    text-align: left;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 22px;
    z-index: 1;
    transition: .5s;
    padding-top: 2%;
}

.about h3 {
    background: linear-gradient(90deg,
            rgb(57, 71, 85),
            rgba(0, 2, 4, 1) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: 60%;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 22px;
    z-index: 1;
    transition: .5s;
}