@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

@font-face {
  font-family: 'Beaufort';
  src: url('../assets/fonts/Beaufort.woff2') format('woff2'),
    url('../assets/fonts/Beaufort.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../assets/fonts/SegoeUI.woff') format('woff'),
    url('../assets/fonts/SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #111314;
  background-size: cover;
}

body .light {
  background-color: #ffffff;
}

.app {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: .05em;
  text-emphasis: none;
}

.app h1 {
  letter-spacing: 0;
  text-align: left;
  margin-left: 10%;
}

h1 {
  background: linear-gradient(90deg,
      rgba(240, 230, 210, 1) 100%,
      rgba(249, 211, 180, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  background: linear-gradient(90deg,
      rgba(249, 211, 180, 1) 100%,
      rgba(249, 211, 180, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.blog-page-title {
  font-family: 'Marcellus SC', serif;
  font-size: 3rem;
  padding-top: 10%;
  padding-bottom: 3%;
  text-align: center;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0);
  pointer-events: none;
  background-size: cover;
}

.blog-page-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../assets/Images/blog_background.jpg);
}

.story-page-background {
  background-image: url(../assets/Images/mountain_castle2.avif);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .blog-page-title {
    font-family: 'Marcellus SC', serif;
    font-size: 1.7rem;
    padding-top: 25vh;
    padding-bottom: 3%;
  }
}