@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');


.section-padding {
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
}

.footer {
    font-family: 'Robot Slab', sans-serif;
    background-image:
        url(../assets/Images/footer-art.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 101;
}

.ft_footer {
    display: flex;
    flex-direction: column;
}

.ft_footer-links {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.ft_footer-links-div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

a {
    color: white;
}

.ft_footer-links-div h4 {
    background: linear-gradient(90deg,
            rgba(249, 211, 180, 1) 100%,
            rgba(249, 211, 180, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 1rem;
}

.ft_footer-links-div p {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 16px;
    line-height: 15px;
    cursor: pointer;
}

.ft_footer-links-div p:hover {
    border-radius: 6px;
    background-color: rgba(240, 230, 210, 0.2);
}

.ft_footer-below {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

hr {
    color: #d7e1eb;
    width: 100%;
}

.ft_footer-copyright p {
    font-size: 13px;
    color: #d7e1eb;
}

.ft_footer-logo-div {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.ft_footer-logo-div a {
    content: url(../assets/Images/aa_logo_text_hover.png);
    width: 400px;
    height: auto;
}

@media screen and (max-width: 420px) {
    .ft_footer-logo-div a {
        width: 90vw;
        height: auto;
    }
}