.navbar {
  font-family: 'Marcellus SC', serif;
  background: transparent;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: left;
  height: 16%;
  width: 100%;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  transition: .4s ease-in-out;
  text-decoration: none;
}

.navbar.active {
  height: 5%;
  min-height: 38px;
  background:
    radial-gradient(circle, #394755 0%,
      #000204 100%);
  background-size: cover;
  transition: .4s ease-in-out;
  width: 100%;
  top: 0;
  z-index: 300;
  font-size: 20px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}

.logo-box {
  padding-left: 5%;
  display: block;
  width: 28%;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

.logo-text-logo {
  width: 400px;
  height: auto;
  padding-top: 10px;
  transition: ease-in-out 0.3s;
  content: url('../assets/Images/aa_logo_text.png');
}

.logo-text-logo:hover {
  width: 400px;
  height: auto;
  padding-top: 10px;
  transition: ease-in-out 0.3s;
  content: url('../assets/Images/aa_logo_text_hover.png');
}

.logo-text-logo.active {
  transform: scale(80%);
  content: url('../assets/Images/aa_logo_text.png');
}

.logo-text-logo.active:hover {
  transform: scale(80%);
  content: url('../assets/Images/aa_logo_text_hover.png');
}

.navbar a {
  text-decoration-style: solid;
  text-size-adjust: 100%;
  letter-spacing: 2px;
  margin: 0 2rem;
  color: white;
  font-weight: 500;
  padding: 5px;
}

.navbar a:hover {
  border-radius: 6px;
  background-color: rgba(240, 230, 210, 0.2);
}

.navbar .nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #f0e6d2;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  .navbar.active {
    height: 10%;
    width: 100%;
  }

  .navbar .nav-btn {
    visibility: visible;
    opacity: 1;
    margin-left: 50%;
    padding-top: 1%;
  }

  .navbar {
    width: 100%;
  }

  .navbar nav {
    position: fixed;
    top: 0;
    margin-left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 0.5s;
    transform: translateY(-100vh);
    background: radial-gradient(circle,
        #394755 0%,
        rgba(0, 2, 4, 1) 100%);
  }

  .navbar nav a:hover {
    border-radius: 6px;
    background-color: rgba(240, 230, 210, 0.2);
  }

  .navbar .responsive_nav {
    transform: none;
  }

  .navbar .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .navbarY a {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .navbar.active {
    height: 12.5%;
    max-height: 50px;
  }

  .logo-text-logo,
  .logo-text-logo:hover,
  .logo-text-logo.active,
  .logo-text-logo.active:hover {
    transform: none;
    width: 300%;
    padding-top: 0;
    content: url('../assets/Images/aa_logo_text_hover.png');
  }
}