.story-title {
    font-family: 'Robot Slab', sans-serif;
    transition: 0.3s ease-in-out;
    position: relative;
    padding-top: 50vh;
    padding-bottom: 10%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.story-author {
    padding-top: 0.5%;
}

.scroller {
    background: linear-gradient(90deg,
            rgba(249, 211, 180, 1) 100%,
            rgba(249, 211, 180, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    transition: 0.5s ease;
    bottom: 20px;
    width: 100%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 15px;
    text-size-adjust: 100%;
    text-align: center;
    vertical-align: baseline;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-shadow: 0 0 20px rgb(1 10 19 / 100%);
}

.story-text {
    overflow: hidden;
    font-family: 'Roboto Slab', sans-serif;
    letter-spacing: .010em;
    color: #f0e6d2;
    font-size: 18px;
    font-stretch: 100%;
    text-align: left;
    width: 600px;
    margin: 0 auto;
    padding-top: 30vh;
    margin-bottom: 100px;
    line-height: 28px;
    z-index: 1;
    transition: .5s;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.story-text h3 {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}

.story-text-light p {
    color: #000000;
}

.story-lightSwitch-off {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    height: 40px;
    width: 40px;
    transform: translateX(-20px);
    position: fixed;
    margin-top: -55vh;
    margin-left: 10vw;
    z-index: 12;
    background-image: url(../assets/Images/maketh_light.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.story-lightSwitch-on {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    height: 40px;
    width: 40px;
    transform: translateX(-20px);
    position: fixed;
    margin-top: -55vh;
    margin-left: 10vw;
    z-index: 12;
    background-image: url(../assets/Images/maketh_dusk.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.story-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.story-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0.4) 60%,
            rgba(3, 10, 18, 1) 100%);
    opacity: 1;
}

@media screen and (max-width: 999px) {
    .story-title {
        padding-top: 50vh;
    }

    .story-title h1 {
        font-size: 12vw;
    }

    .story-title h2 {
        padding-top: 2vh;
        font-size: 4vw;
    }

    .story-text {
        font-size: 1em;
        width: 60vw;
        padding-top: 50vh;
    }

    .story-text h3 {
        text-align: center;
        font-weight: normal;
        font-size: 1.2em;
    }

    .scroller {
        font-size: 2vh;
    }

    .story-lightSwitch-off {
        position: absolute;
        bottom: -10%;
        margin-left: 50%;
        margin-right: 50%;
        transition: .4s ease-in-out;
    }

    .story-lightSwitch-on {
        position: absolute;
        bottom: -10%;
        margin-left: 50%;
        margin-right: 50%;
        transition: .4s ease-in-out;
    }

    .story-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    @media screen and (max-width: 500px) {

        .scroller{
            font-size: 0.8em;
        }

        .story-lightSwitch-off,
        .story-lightSwitch-on {
            margin-left: 50%;
            margin-bottom: 5%;
        }

        .story-text {
            width: 80vw;
        }

    }
}